<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="TestCases.BrokenLinkTestcase"/>
      <class name="TestCases.NavigatingMenusandValidatingTitleTestCases"/>
      <class name="TestCases.paymentmoduleTestCases"/>
      <class name="TestCases.SignInpageTestcase"/>
      <class name="TestCases.ValidateBottomLinksonHomepage"/>
      <class name="TestCases.CreateaccountTestcases"/>
      <class name="TestCases.SearchandAdditemtestcase"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
